<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	<node ns="robot_0" name="tiago_gripper_control" pkg="ms1_grasping" type="tiago_gripper_control" args="-cmd open" output="screen"/>
	
	<node ns="robot_0" name="reaching_to_grasp" pkg="ms1_grasping" type="reaching_to_grasp" output="screen"/>
	
</launch>

